.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 2rem;
  height: 80px;
  background-color: #000;
  color: #fff;
  font-size: 0.8rem;
}

.navlogo {
  text-decoration: none;
  color: #fff;
}

.nav-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 80px;
  left: -100%;
  transition: 0.5s all;
  list-style: none;
}

.nav-links.active {
  background-color: #000;
  left: 0;
}

.nav-item {
  padding: 10px 0;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  color: #52b2bf;
}

.nav-icon {
  display: flex;
  cursor: pointer;
  font-size: 2rem;
}
